@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Sora:wght@100..800&display=swap');

html, body, [class*="css"] {
    font-family: 'Sora', sans-serif; 
    font-size: 18px;
    font-weight: 300;
    color: #FFFAFF;
}
